html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#container {
    width:970px;
    height:250px;
	overflow:hidden;
	cursor:pointer;
    position: relative;
    /*border: 1px solid black;*/
    /*margin: 100px auto;*/
    visibility: hidden;
}
.frame {
    width: 970px; height: 208px;
    overflow: hidden;
}
#logo {
    background: url(logo.png) no-repeat 0 0;
    position: absolute;
    top: 17px; left: 17px;
    width: 92px; height: 31px;
}
#mask {
    background: url(mask.png) no-repeat 0 0;
    width:970px;
    height:250px;
    position: absolute;
    top: 0; left: 0;
} 
.step1 {
    background-position: -250px 0; 
}
#bg {
    background: url(bg.jpg) no-repeat;
    position: absolute;
    top: 0; left: 0;
    width: 970px; height: 250px;
}
#text {
    background: url(text.png) no-repeat;
    position: absolute;
    top: 0; left: -370px;
    width: 370px; height: 250px;
}
#cta {
    background: url(cta.png) no-repeat;
    opacity: 0;
    position: absolute;
    top: 202px; left: 21px;
    width: 142px; height: 36px;
    overflow: hidden;
}
#cta span#reflection {
    background: url(reflection.png) no-repeat;
    display: block;
    position: absolute;
    width: 77px; height: 36px;
    left: -77px; top: 0;
    opacity: 1;
}

#cta span#arrow {
    background: url(arrow.png) no-repeat;
    display: block;
    position: absolute;
    width: 18px; height: 18px;
    left: 106px; top: 9px;
}